{% extends 'login/base.html' %}
{% block title %}书籍信息{% endblock %}
{% block content %}

<div style="width: 60%;margin-left: 20%">
    <h2 style="color: #494949;">图书信息:</h2>
    {% for book in books %}
    <div style="border-top: 1px dashed #ddd;padding: 20px 0 10px;">
        <div style="float: left;margin-right: 20px;">
            <img style="width: 100px" class="" src="{{ book.img }}">
        </div>
        <div style="overflow: hidden;">
            <p style="font-size: 14px;margin-bottom: 6px;">{{ book.name }}</p>
            <p>{{ book.author }}&nbsp; /&nbsp; {{ book.publish }}&nbsp; /&nbsp; {{ book.time }}&nbsp; /&nbsp; {{ book.price }}</p>
            <div>
                <span style="color: #e09015;font-size: 14px;padding: 0 3px;">评分:{{ book.access }}</span>
                <span style="font: 14px Arial, Helvetica, sans-serif;line-height: 150%;color: #666666;">({{ book.number}})人评论</span>
            </div>
            <p style="color: #666;margin: 13px 0">{{ book.context }}</p>
        </div>


    </div>
    {% endfor %}
</div>
{% endblock %}